//----------------------------------
// Function
//----------------------------------
// (e.g.) utilAni(0.4s)  // Sec = 0.4 sec
utilAni(Sec)
  -webkit-transition: Sec
  -ms-transition: Sec
  -moz-transition: Sec
  -o-transition: Sec
  transition: Sec

FlexBox()
  display: flex
  justify-content: center
  -webkit-align-items: center
  align-items:         center
FlexGlow(Glow)
  -webkit-flex-grow: Glow
  flex-grow:         Glow